/* ================================================= */
/* Cloaks to hide screens on the same page */
.cloak-signup, .cloak-main {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFD;
}

/* ================================================= */
/* Nav-Bar */
.nav-bar {
    color: white;
    background-color: #333;
    overflow: hidden;
    clear: left;
}

.title {
    margin-left: 10px;
    font-size: 44px;
}

#logout-btn {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    background:none;
    color:inherit;
    border:none;
    display: none; 
}

#logout-btn:hover {
    background-color: white;
    color: black;
}

/* ================================================= */
/* Log-in window */
.log-in, .sign-up {
    margin: auto;
    width: 15%;
    background: #333;
    color: white;
    padding: 18px;
    overflow:auto;
    border-radius: 5px;
    font-size: 20px;
}

/* Entry box for username and password*/
.email, .password, .first-name, .last-name {
    margin-bottom: 3px;
    width: 98%;
    height: 25px;
    border-radius: 5px;
}

/* Sign-up button */
.signup-btn, .create-btn {
    margin: 7px 0px 0px 5px;
    width: 75px;
    height: 40px;
    float: right;
    border-radius: 5px;
    color: #333;
    font-size: 15px;
}

/* Log-in button */
.login-btn {
    margin: 7px 0px 0px 5px;
    width: 75px;
    height: 40px;
    float: right;
    border-radius: 5px;
    background: #626262;
    color: white;
    font-size: 15px;
}

/* ================================================= */
/* Lobby screen */
.lobby {
    margin: auto;
    width: 50%;
    height: auto;
    background: #333;
    color: white;
    padding: 10px;
    overflow:auto;
    border-radius: 5px;

}
